.avif {
    background-image: url("../src/assets/images/patron.avif");
  }
  
  .notavif.notwebp {
      background-image: url("../src/assets/images/patron.jpeg");
  }
  
  .webp {
      background-image: url("../src/assets/images/patron.webp");
  }