@forward '../src/sass/utilities';
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Serif:ital,wght@1,900&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --quote-font: 'Courgette', cursive;
  --author-font: 'Roboto Serif', serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  display: block;
  max-width: 100%;
}

.main-container {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}